name: CI - Build & Test & Docker

on:
  push:
    branches: ['main', 'develop']
  pull_request:

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Run lint
      - name: Run ESLint
        run: npm run lint

      # ignore test for now
      # # 5. Run unit tests
      # - name: Run unit tests
      #   run: npm run test -- --ci --runInBand

      # 6. Build app
      - name: Build app
        run: npm run build

      # 7. Build Docker image
      - name: Build Docker image
        run: docker build -t qtthien4/nestjs-app:latest .

      # 8. Publish Docker image (optional)
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/nestjs-app:latest
          docker tag qtthien4/nestjs-app:latest $IMAGE
          docker push $IMAGE
